<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>Education added successfully</h1>

<td><p th:text="'School Name ' + ${neweduc.schoolName}"/></td>
<td></td><p th:text="'Year of Graduation: ' + ${neweduc.yearOfGraduation}"/>

<td>
    <a th:href="@{/update/{id}(id=${neweduc.id})}">Update</a>
    <a th:href="@{/detail/{id}(id=${neweduc.id})}">Details</a>
    <a th:href="@{/delete/{id}(id=${neweduc.id})}">Delete</a>

    <a href="enterexperience.html">Add Experience</a>
</td>
<a href="enterexperience">Add Previous Employment Experiences</a>
</body>
</html>