<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/entersetofskills}" th:object="${newskill}" method="post">
    <input type="hidden" th:field="*{id}" />

    <p>First Skill <input type="text" th:field="*{skillOne}"/></p>
    <span class="container" th:if="${#fields.hasErrors('skillOne')}" th:errors="*{skillOne}">Skill ONe  </span>

    <p>Second Skill: <input type="text" th:field="*{skillTwo}"/></p>
    <span class="container" th:if="${#fields.hasErrors('skillTwo')}" th:errors="*{skillTwo}"> Skill two </span>


    <input type="submit" value="AddEducation" />
    <input type="reset" value="Reset"/>

</form>
</body>
</html>