<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Title</th>
        <th>Instructor</th>

    </tr>
    <tr th:each="skill : ${skills}">
        <td th:text="${skill.skillOne}"></td>
        <td th:text="${skill.skillTwo}"></td>

        <td>
            <a th:href="@{/update/{id}(id=${skill.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${skill.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${skill.id})}">Delete</a>

        </td>
    </tr>
</table>
</body>
</html>