<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        <p>...</p>
    </div>
    <h2>Your Skills are saved successfully</h2>
    <table class="table">
        <tr>
            <th>Skill One</th>
            <th>Skill Two</th>
        </tr>
        <tr>

            <td><p th:text="' ' + ${newskill.skillOne}"/></td>
            <td><p th:text="' ' + ${newskill.skillTwo}"/></td>
        </tr>
    </table>


</div>
</body>
</html>