<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
</head>

<body>

<nav class="navbar navbar-default navbar-static-top" style="background-color: aqua"><li style="color: blueviolet"><b>HR PAGE</b></li></nav>
    <div class="container">
        ...


<nav aria-label="..." >


    <ul class="pager" style="padding-bottom: 64px; margin-bottom: 40%" >
        <!--<li><a href="#">Previous</a></li>-->
        <i class="glyphicon glyphicon-th icon-2x"></i>
        <h2 style="background-color: aliceblue; color: blueviolet" > <b>Start Building The Resume</b> </h2>
        <li><a href="add">Next</a></li>
    </ul>





    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



</nav>
    </div>
</body>

</html>